.container {
  position: relative;
  z-index: 20;
  border-radius: 0.375rem;
  pointer-events: all;
}


.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.inner {
  position: relative;
  color: #ffffff;
  overflow: hidden;
  margin: 0 auto;
}